@import './vars.scss';
@import './breakpoints.scss';

html {
  background-color: var(--background-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


// Baseline Styles

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 600;
  @include sm {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
    font-family: 'Atkinson Hyperlegible';
    font-weight: 600;
  }
}
h2 {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 600;
  @include sm {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -2%;
    font-family: 'Atkinson Hyperlegible';
    font-weight: 600;
  }
}
h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -2%;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 600;
  @include sm {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -2%;
    font-family: 'Atkinson Hyperlegible';
    font-weight: 600;
  }
}
h4 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -2%;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 600;
  @include sm {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: unset;
    font-family: 'Atkinson Hyperlegible';
    font-weight: 600;
  }
}
h5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 600;
  @include sm {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: unset;
    font-family: 'Atkinson Hyperlegible';
    font-weight: 600;
  }
}
h6 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 600;
  @include sm {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: unset;
    font-family: 'Atkinson Hyperlegible';
    font-weight: 600;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Atkinson Hyperlegible';
  font-weight: 400;
}
