:root {
  --background-color: #000000;
  --scrollbar-color: #232323;
  --accent-color: #e592b6;
  --text-color: #ffffff;
  --text-dimmed: #808080;

  // Blog site: 872px
  --content-clamp: 1240px;
  --content-spacing-x: 24px;
}
