@import '@/global/breakpoints.scss';

// Top part that takes up entire page
div.Top {
  // This will ensure the hero stays centered
  // it will also ensure when the Y viewport
  // becomes to small the hero will overflow.
  display: flex;
  padding: 15rem 0;
  min-height: 100vh;

  @include sm {
    padding: 7rem 0 3rem 0;
    min-height: auto;
  }

  // Floating hero that hold: [  text  icon  ]
  div.Hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @include ml {
      grid-template-columns: 1fr;
    }

    // Left [ text ]
    div.Text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      // Top Placeholder Values
      p.FooBar {
        line-height: 28px;
        font-size: 18px;
        font-family: source-code-pro, Menlo, Monaco,
          Consolas, 'Courier New', monospace;
        font-weight: 600;

        color: var(--text-dimmed);
        margin-block-end: 4px;
      }

      // Titles "YOOO, I'm..."
      h1 {
        font-size: 64px;
        line-height: 64px;
        font-weight: 700;

        @include sm {
          font-size: 40px;
          line-height: 48px;
          font-weight: 700;
        }

        span.Accent {
          color: var(--accent-color);
          transition: text-shadow ease 300ms;
          text-shadow: rgb(254, 177, 210) 0 0 calc(70px * var(--glow-enabled));
        }

        &.Dimmed {
          color: var(--text-dimmed);
        }
      }

      // Short sentence summing up what
      // this web page is about.
      p.ShortAbout {
        margin-block-start: 16px;
        line-height: 28px;
        font-size: 20px;
        color: var(--text-dimmed);

        @include ml {
          max-width: 600px;
        }

        @include sm {
          line-height: 26px;
          font-size: 18px;
        }
      }

      // Social Icons
      div.Socials {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-block-start: 24px;
        a {
          width: 40px;
          height: 40px;

          svg {
            width: 40px;
            height: 40px;
            fill: var(--text-dimmed);
            // Sets transition for hover animation
            transition: fill ease 200ms;
          }

          // Hovering changes the color to contrast more
          &:hover svg {
            fill: var(--text-color);
          }
        }
      }

    }

    // Right [ Icon ]
    div.Icon {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      @include ml {
        grid-row: 1;
        align-items: center;
      }

      // Offset it to the right to account
      // for transparent border on img.
      img {
        transform: translate(48px, -16px);

        @include ml {
          transform: translate(0);
        }

        width: 360px;
        height: 360px;

        @include sm {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
