@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes vibrate {
	0%, 100% {
			transform: translateX(0) rotate(0) scale(1);
	}
	
	20%, 80% {
			transform: translateX(-2px) rotate(-2deg) scale(1.02);
	}
	
	40%, 60% {
			transform: translateX(2px) rotate(2deg) scale(0.98);
	}
	
	50% {
			transform: rotate(2deg) scale(1.04);
	}
}


/* Variables */
@layer base {
	:root {
		--background: 0 0% 0%;
		--background-light: 0 0% 14%;
		--background-bright: 0 0% 20%;
		--foreground: 0 0% 100%;
		--foreground-dim: 0 0% 50%;
		--foreground-dark: 0 0% 31%;
		--accent: 334 61% 74%;
		--scrollbar: 0 0% 14%;
		
		--clamp: 1356px;
		--pad-x: 4rem;
		
		font-size: 16px;
	}
	
	/* Decrease pad-x for mobile */
	@media (max-width: 768px) {
		:root {
			--pad-x: 1rem;
			font-size: 14px;
		}
	}
	
	@keyframes cursor {
		0% {
			opacity: 1;
		}
		
		50% {
			opacity: 0;
		}
		
		100% {
			opacity: 1;
		}
	}
	
	body {
		@apply bg-background text-foreground;
		font-family: "Geist", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-style: normal;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	}
	
	*, *::before, *::after {
		scrollbar-width: thin;
		scrollbar-color: hsl(var(--scrollbar)) transparent;
		-webkit-tap-highlight-color: transparent;
	}
	
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	
	::-webkit-scrollbar-track {
		background: transparent;
	}
	
	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: hsl(var(--scrollbar));
	}
	
	::-webkit-scrollbar-corner {
		background: transparent;
	}
}


@layer components {
	.kewl-link {
		@apply text-foreground-dim no-underline relative transition-colors duration-200 ease-in-out;
		&::after {
			content: '';
			@apply absolute left-0 w-full bg-accent transition-transform duration-200 ease-in-out;
			bottom: -1px;
			height: 1px;
			transform: scale(0);
			transform-origin: center;	
		}
		
		&:hover, &.active {
			@apply text-foreground;
			&::after {
				transform: scale(1);
			}
		}
	}
	
	.show-more-button {
		@apply relative w-full text-foreground-dark hover:text-foreground-dim transition-colors font-bold;
		
		&::before {
			content: '';
			@apply absolute left-0 top-[50%] h-[1px] bg-current;
			width: calc(50% - 4rem);
		}
		
		&::after {
			content: '';
			@apply absolute right-0 top-[50%] h-[1px] bg-current;
			width: calc(50% - 4rem);
		}
	}
	
	.cool-contact-thing {
		@apply relative w-full text-accent font-bold;
		
		&::before {
			content: '';
			@apply absolute left-0 top-[50%] w-full h-[1px] bg-current z-0;
		}
		
		p {
			@apply relative bg-background ml-4 px-4 py-1 z-10 w-fit;
		}
	}
	
	.silly-singleton-gradient {
		background: rgb(0,0,0);
    background: linear-gradient(27deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
	}
}
